<div class="header">
    <div class="">
      <div class="row "  style="background-color:rgba(255, 255, 255, 0.4);padding-bottom: 10px; position: relative;">
          <div class="col-md-5" style="margin-top: 160px;">
          <a href="" style="text-decoration: none; position: relative;">  <img src="../../assets/logos/logo.png" class="logo" alt=""> <span class="ouisend" >OuisenD</span></a>
          </div>
          <div class="col-md-7 menu">
            <div class="row">
              <div class="col-md-3">
                <form>
                  <button type="submit" style="border:  none;line-height: 1.428571429;background-color:transparent;"> <i class="fa fa-search" style="margin-right: 10px;"></i></button> <input type="search" style="border: none;background-color:transparent;color: #1B3C68; font-size: 12px;" placeholder="Rechercher"/>
                </form>

              </div>

              <div class="col-md-9">
                <a href="" class="trans btn btn-sm" style="margin-left: 20px;"><i class="fa fa-plus-circle" style="margin-right: 10px;"></i><span>Devenir transporteur</span></a>
                <a href="" class="trans btn btn-sm " style="margin-left: 20px;margin-right: 20px;">
                  Connexion
                </a>
                <a href="" class="btn btn-sm inscrip trans" > Inscription</a>
              </div>
              <!-- <div class="col-md-3" style="margin-left: -30px;">

              </div> -->
            </div>

          </div>
      </div>
    </div>
    <div class="content">
      <h3 class="slogant">
        Nattendez plus! <br>
        Envoyez vos collis avec OuisenD!
      </h3>

      <div class="recherche">
        <form >
          <div class="row">
          <div class="col-sm-4"><input  type="search" placeholder="Adresse de départ" style="border: none;"/><i class="fa fa-calendar fa-1x"  aria-hidden="true"></i></div>
          <div class="col-sm-4"><input  type="search" placeholder="Adresse d'arrivé" style="border: none;"/><i class="fa fa-calendar fa-1x"  aria-hidden="true"></i></div>
          <div class="col-sm-2"><input  type="search" placeholder="Poids (kg)" style="border: none; margin-top: 10px;"/>  </div>
           <div class="col-sm-2"><button class="submit" type="submit"><i class="fa fa-search fa-1x"  aria-hidden="true"></i></button></div>
          <!-- <div class="col-sm-2"><input  type="button" style="border: none;"/> -->
            <!-- </div> -->

        </div>

        </form>
      </div>
    </div>
</div>

