<div class="footer">
  <div class="row">
    <div class="col-md-2">
      <div class="menu-footer"><h5><a href="" style="text-decoration: none; color: white;">A propos</a></h5></div>
        <ul>
          <li><a href="" style="text-decoration: none; color: white;">Lorem ipsum</a> </li>
          <li><a href="" style="text-decoration: none;color: white">Lorem ipsum</a> </li>
          <li><a href="" style="text-decoration: none;color: white">Lorem ipsum</a> </li>
           <li><a href="" style="text-decoration: none;color: white">Lorem ipsum</a> </li>

        </ul>
    </div>
    <div class="col-md-2">
      <div class="menu-footer"><h5><a href="" style="text-decoration: none; color: white;">Communauté</a></h5></div>
        <ul>
          <li><a href="" style="text-decoration: none; color: white;">Lorem ipsum</a> </li>
          <li><a href="" style="text-decoration: none;color: white">Lorem ipsum</a> </li>
          <li><a href="" style="text-decoration: none;color: white">Lorem ipsum</a> </li>
           <li><a href="" style="text-decoration: none;color: white">Lorem ipsum</a> </li>

        </ul>
    </div>
    <div class="col-md-2">
      <div class="menu-footer"><h5><a href="" style="text-decoration: none; color: white;">Transporteur</a></h5></div>
        <ul>
          <li><a href="" style="text-decoration: none; color: white;">Lorem ipsum</a> </li>
          <li><a href="" style="text-decoration: none;color: white">Lorem ipsum</a> </li>
          <li><a href="" style="text-decoration: none;color: white">Lorem ipsum</a> </li>
           <li><a href="" style="text-decoration: none;color: white">Lorem ipsum</a> </li>

        </ul>
    </div>
    <div class="col-md-2">
      <div class="menu-footer"><h5><a href="" style="text-decoration: none; color: white;">Assistance</a></h5></div>
        <ul>
          <li><a href="" style="text-decoration: none; color: white;">Lorem ipsum</a> </li>
          <li><a href="" style="text-decoration: none;color: white">Lorem ipsum</a> </li>
          <li><a href="" style="text-decoration: none;color: white">Lorem ipsum</a> </li>
           <li><a href="" style="text-decoration: none;color: white">Lorem ipsum</a> </li>

        </ul>
    </div>
    <div class="col-md-2">
      <form action="">

        <label for="newsletter" ><h5 >News letter</h5> </label>
        <div class="row">
          <input type="Email" placeholder="Email" name="email" class="email"/>
         <button class="send" type="submit"><i class="fa fa-paper-plane fa-1x"  aria-hidden="true"></i></button>
        </div>
      </form>
    </div>

  </div>
</div>
