<app-header></app-header>
<div class="row direct" >
  <div class="left col-md-6">
    <h4 class="envoie" >Envoie direct de collis</h4>
    <div class="trait-bleu"><hr></div>
    <p style="margin-left: 50px !important;text-align: justify;">Sed vitae eros quis lorem porta aliquam sed et nunc.
      Pellentesque luctus luctus felis, eu viverra ipsum.
      Duis faucibus ornare orci, eu semper urna varius efficitur.
       Aliquam venenatis luctus sem, id fringilla magna luctus quis.
        Aliquam in mi ut lacus accumsan venenatis ut eget metus.
        Mauris nec turpis est. Cras sit amet augue in lacus sagittis ullamcorper.
       </p>
       <a href="" class="btn savoir">En savoir plus</a>
  </div>
  <div class="right col-md-6">
    <div class="right-image">
      <img src="assets/images/Messenger-amico.png" class="messagerie" alt="messenger">
    </div>

  </div>

</div>
<div class="row ex" >
  <div class="left col-md-6">
    <h4 class="solut" >Une solution Efficace</h4>
    <div class="trait-bleu"><hr></div>
  </div>
</div>

<div class="row solution">

  <div class="col-md-10 marge-sol">
<div class="row ">

  <div class="contenant">
      <img src="assets/images/522.jpg" class="solution-img" alt="solution">
      <div class="text-img">
        <a href="" style="color: white; font-weight: bold;text-decoration: none;">Direct</a>
        <div class="trait-blanc-disc"><hr></div>
      </div>
    </div>
    <div class="contenant">
      <img src="assets/images/7258.jpg" class="solution-img" alt="solution">
      <div class="text-img">
        <a href="" style="color: white; font-weight: bold;text-decoration: none;">Sécurisé</a>
        <div class="trait-blanc-sec"><hr></div>
      </div>
    </div>
    <div class="contenant">
      <img src="assets/images/2612029.jpg" class="solution-img" alt="solution">
      <div class="text-img">
        <a href="" style="color: white; font-weight: bold;text-decoration: none;">Convivial</a>
        <div class="trait-blanc-conv"><hr></div>
      </div>
    </div>
  </div>
  </div>
</div>
<div class="row direct" >
  <div class="left col-md-6">
    <img src="assets/images/Manufacturing Process-cuate.png" class="manu" alt="">
  </div>
  <div class="right col-md-6">
    <div class="right-manu">
      <div class="col-md-12">
        <h4 class="" style="text-align: center; padding-top:10px;color: white;" >Gagnez de l'argent en voyageant</h4>
        <div class="trait-blanc-gagne"><hr></div>
      </div>
      <p style="text-align: justify;color: white;padding: 15px;font-size: 15px;">
        Sed vitae eros quis lorem porta aliquam sed et nunc. Pellentesque luctus luctus felis, eu viverra ipsum.
        Duis faucibus ornare orci, eu semper urna varius efficitur. Aliquam venenatis luctus sem, id fringilla magna luctus quis.
         Aliquam in mi ut lacus accumsan venenatis ut eget metus. Mauris nec turpis est.
      </p>
      <div class=""> <a href="" class="btn plus">En savoir plus</a> </div>
    </div>

  </div>

</div>
<app-footer></app-footer>
